* {
    margin: 0;
    padding: 0;
    
}

#root {
    
    justify-content:baseline;
    margin-top: 200px;
}

.App {
    width: 800px;
    margin-left: 50px;
}

.post {
    width: 100%;
    position: relative;
    top: -80px;
    padding: 12px 20px;
    margin: 0px 180px;
    font-size: 30px;
    font-family: "Times New Roman";
    color: rgba(09, 11, 33, 0.658);
    
}


.bttn {
    
    margin-top: -250px;
    margin-left: 680px;
    height: 60px;
    width: 300px;
    cursor: pointer;
    background-color: rgb(17, 27, 71);
    color: white;
    font-size: 25px;
}


html {
    background-image: url(CHECK.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.input {
    padding-left: 15px;
    width: 1200px;
    height: 50px;
    border: 4px ;
    background-color: rgb(217, 217, 217);
    border-radius: 20px;
    font-size: 30px;
    font-family: "Times New Roman";
    color: rgb(09, 11, 33);
    
}

.Title {
    text-align: center;
    margin-left: 50%;
    
    top: -10px;
    font-size: 50px;
    font-family: "Times New Roman";
    color: rgb(09, 11, 33);
}

.showStatus {
    margin-left: 560px;
    width: 500px;
    margin-top: 70px;
    font-size: 30px;
    font-family: "Times New Roman";
    color: rgb(09, 11, 33);
    background-color: rgb(217, 217, 217);
    height: 80px;
    padding: 30px;
    border-radius: 20px;
}
